{% extends "base.html" %}
{% block content %}
{% include "common/header-navbar/header-empty.html" %}
<div class="container login-box">
    <form method="post" action="{% url 'common:login' %}" id="loginForm">
    {% csrf_token %}
        {% include "form_errors.html" %}
        <a href="/"><h1 class="intro-logo"></h1></a>
        <div class="login-margin">
            <input type="text" class="form-control-id" name="username" id="username" placeholder="아이디"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="login-margin">
            <input type="password" class="form-control-id" name="password" id="password" placeholder="비밀번호"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <div class="login-margin">
          <button type="submit" class="shadow-none login-btn btn-login" id="loginButton">로그인</button>
        </div>
        <p class="register" style="color:#a6a6a6; font-weight: normal;">
          일단코딩이 처음이신가요?
          <a href="/common/signup">회원가입하기</a>
        </p>
    </form>
</div>

<script>
  document.getElementById("loginForm").addEventListener("submit", function (e) {
    var loginButton = document.getElementById("loginButton");
    loginButton.disabled = true;
    loginButton.textContent = "로그인 중입니다"; // Change button text
    loginButton.style.backgroundColor = "#b0b0b0"; // change to a less dark color
    loginButton.style.opacity = "1"; // Ensure the color change is immediate
  });
</script>
{% endblock %}