{% extends "base.html" %}
{% block content %}
{% include "common/header-navbar/header-empty.html" %}
<div class="container login-box">
    <form method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <a href="/common/signup"><h1 class="intro-logo-register"></h1></a>
        <div class="mb-3">
            <p class="input-label">이메일</p>
            <input type="text" class="form-control-id" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <p class="input-label">아이디</p>
            <input type="text" class="form-control-id" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <p class="input-label">비밀번호</p>
            <input type="password" class="form-control-id" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <p class="input-label">비밀번호 확인</p>
            <input type="password" class="form-control-id" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="tacbox">
          <input id="checkbox" type="checkbox"/>&nbsp;
          <label for="checkbox"><a href="#">이용약관</a> & <a href="#">개인정보처리방침</a> 동의(필수)</label>
        </div>
        <button type="submit" class="login-btn btn-login" name="signup-button" disabled="disabled" id="signup-button" style="background-color: #D0D0D0;">회원가입</button>
        <p class="register">이미 계정이 있으신가요? <a href="/common/login">로그인</a></p>
    </form>
</div>

<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('checkbox');
    const button = document.getElementById('signup-button');

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            button.disabled = false;
            button.style.backgroundColor = "#8567FE"; 
        } else {
            button.disabled = true;
            button.style.backgroundColor = "#D0D0D0";
        }
    });

    function handleSubmit(event) {
        const button = document.getElementById('signup-button');
        button.disabled = true;  
        button.innerText = "처리중..."; 
        event.target.submit();
    }

    document.querySelector('form').addEventListener('submit', handleSubmit);

    if (document.querySelector('.errorlist') && checkbox.checked) {
        const button = document.getElementById('signup-button');
        button.disabled = false;
        button.innerText = "회원가입";  
    }
});
</script>

{% endblock %}